@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: latin-modern, sans-serif;
}

/* CSS */
.button-34 {
  background: #077BE7;
  box-shadow: #077BE7 0 10px 24px -14px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 0.5rem 1.75rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}